# Git Folders
/.git
/.gitattributes
/.gitignore

# Dependencies
node_modules/**
src/client/lib

# VS Specific Files
.vscode
src/.vs
src/*.sln
src/client/*.csproj
src/client/*.csproj.user
src/client/web.config
src/client/web.*.config
src/server/*.njsproj

# Intermediate Files
src/client/bin/**
src/client/obj/**
src/client/scripts/**/*.js
src/client/scripts/**/*.js.map
src/server/bin/**
src/server/obj/**
src/server/**/*.js
src/server/**/*.js.map

# Other files
npm-debug.log
package-lock.json
